.Footer{
    color: #ffff;
    width: 100%;
    background-color: var(--color1);
}



.Footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer-social{
    padding: 15px;
}
.Footer-social a{
    color: var(--color3);
}

.Footer-git a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color4);
}
.Footer-git p{
    margin-left: 5px;
}
