.Header{
    margin-bottom: 20px;
    display: flex;
    background-color: var(--color5);
    color: var(--color3);
    align-items: center;
    border-bottom: solid 1px var(--color1);
}

.Header-nav li{
    list-style: none;
}

.Header-nav li:hover{
    color: var(--color2);
}

.Header h2 {
    padding: 5px;
    margin-left: 5px;
}

.Header a{
    text-decoration: none;
    color: var(--color3);
}