.Loading{
    color: var(--color2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    height: 85vh;
    width: 100%;
}
.spinning{
    animation: spinner 1s linear infinite;
    position: absolute;
    margin-top: 15%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}