.Loading{
    color: var(--color2);
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 270px;
    margin-bottom: 270px;
}
.spinning{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}