.TeamEmpty{
    height: 70vh;
    color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamEmptyWrapped{
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
span{
    margin-bottom: 50px;
}

.TeamEmpty a {
    color: var(--color3);
}