.Review-Card{
    margin: 120px 70px 50px 70px;
    background-color: #fefefe;
background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f3f3f3' fill-opacity='0.58' fill-rule='evenodd'/%3E%3C/svg%3E");
    max-width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

.Review-description{
    display: flex;
    justify-content: center;
    align-items: top;
}
@media (max-width: 1000px){
    .Review-description{
        display: flex;
        flex-wrap: wrap;
    }
}

.Review-team{
    margin-right: 25px;
    padding: 10px;
}

.Review-venue{
    padding: 10px;
}

.Review-stadium{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


@media (max-width: 1000px){
    .Review-stadium{
        display: flex;
        width: 280px;
        height: 150px;
    }
};
